html, body, div, h1, h2, h3, h4, h5, h6, p, input, label, button 
 {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  }

:root {
  --primary: #ff5900;
  --dark: #000;
  --light: rgb(201, 201, 201);
}

.container__input {
  position: relative;
}

.input {
  margin: auto;
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  width: 250px;
  border-bottom: 1px solid var(--dark);
}

.input:focus {
  outline: none;
}

.label {
  position: absolute;
  font-size: 1em;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  color: var(--light);
}

.input:focus + .label, .input:valid + .label {
  top: -10px;
  font-size: 0.75em;
  color: var(--primary);
}

.input:focus {
  border-bottom: 1px solid var(--primary);
}

.grid {
  display: grid;
}

.grid--form {
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.heading {
  text-align: center;
  padding: 20px 0px;
}















  /* Old Naming below */


.content-container {
  display: grid;
  grid-auto-flow: column;
  gap: 0;
}

.forms-container {
  width: calc(100vw - 216mm);
}

.cv-page {
  justify-self: right;
  width: 216mm;
  min-height: 279mm;
  border: black solid 3px;
  background-color: white;
}

.cv-header-container {
  background-color: #ffee00;
  height: 50mm;
  display: grid;
  grid-template-columns: 50% 50%;

}

.cv-name-container {
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 2em;
}

.cv-personal-details-container {
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 0.75em;
}

.cv-personal-details-container > * {
  padding: 3px 0;
  text-align: right;
}

/* .personal-details-input-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.personal-details-input-container > div {
  display: grid;
  grid-auto-flow: row;
  padding: 5px 10px;
} */

/* .personal-details-input-container > input {
  width: 100%;
} */

/* * > label {
  font-size: 0.75em;
} */

.input-category-heading {
  text-align: left;
  padding: 10px;
}

.work-experience-item-container {
  padding: 10px 10px;
}

.work-experience-item-input-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.work-experience-item-input-container > div {
  display: grid;
  grid-auto-flow: row;
  padding: 5px 10px;
}
.work-experience-item-input-container > .description-input {
  grid-column: 1 / 3;
}

.job-title-heading {
  text-align: center;
  color: grey;
}

.work-experience-heading-container {
  display: grid;
  grid-auto-flow: column;
}